<!DOCTYPE html>
<html lang="zh-Hans-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新北市YouBike查詢</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <style>
    .map{
        height: 600px;
    }
    @media(max-width:768px){
        .map{
            height: 400px;
        }
    }
    @media(max-width:370px){
        .map{
            height: 340px;
        }
    }
    @media(max-width:320px){
        .map{
            height: 288;
        }
    }
    #goTop{
        position:fixed;
        right: 150px;
        bottom: 30px;
        cursor: pointer;
        display: none;
        width:30px;
        height:30px;
        text-align:center;
        line-height:30px;
    }
    @media(max-width:1300px){
        #goTop{
            right: 100px;
        }
    }
    @media(max-width:1050px){
        #goTop{
            right: 60px;
        }
    }
    @media(max-width:610px){
        #goTop{
            right: 40px;
        }
    }
    @media(max-width:560px){
        #goTop{
            right: 25px;
        }
    }
    @media(max-width:420px){
        #goTop{
            right: 10px;
        }
    }
    </style>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand ml-4" href="#">新北市YouBike查詢</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
        </nav>
        <div class="container">
            <div class="form-inline  mt-5">
                <input v-model="searchContent" @keydown.enter="search" class="form-control mr-sm-2" type="search" placeholder="搜尋地點" aria-label="Search" style="width:400px">
                <button @click="search" type="button" class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row card-columns">
                <!-- 卡片 -->
                <searchcard v-for="(item,key) in searchResult" class="" :location="item" @checkmap="searchMap" :key="key" ></searchcard>
                <div v-if="cantFound"><p class="text-center ml-3">找不到結果，請重新搜尋</p></div>
            </div>
        </div>
        <div v-show="mapOpen" class="container mt-5" style="max-height:700px">
            <iframe 
                width="90%" 
                frameborder="0"
                :src="mapUrl" class="map">
            </iframe>
        </div>
        <div id="goTop" @click="gotToTop">
            <i class="fas fa-arrow-up"></i>
        </div>
    </div>
    
</body>

<script type="text/x-template" id="searchcard">
    <div class="card ml-2" style="width: 20rem;">
        <div class="card-header bg-warning">
            {{ location.sna }}
            <a class="float-right" href="">
                <i class="far fa-heart text-danger"></i>
            </a>
        </div>
        <div class="card-body">
            <p class="card-text">位置 : {{ location.ar }}</p>
            <p class="card-text">可借數量 : {{ location.sbi }}輛</p>
            <p class="card-text">可停空位 : {{ location.bemp }}輛</p>
            <p class="card-text">時間 : {{ location.mday }}</p>
            <button @click="searchMap" class="btn btn-primary">
                查看google地圖
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</script>

<script>

Vue.component('searchcard',{
    props:['location'],
    template:'#searchcard',
    methods:{
        searchMap(lat,lan) {
            this.$emit('checkmap',this.location.lat,this.location.lng)
        }
    }

})

var app = new Vue({
    el:'#app',
    data:{
        likeList:[],
        searchContent:"",
        searchResult:[],
        cantFound:false,
        mapOpen:false,
        mapUrl:"https://google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=&z=16&t=&output=embed"
    },
    methods:{
        // addLike() {

        // },
        search() {
            vm = this
            if(this.searchContent){
                this.searchResult = []
                this.cantFound = false
                $.getJSON(
                    "./youbike.json",
                    function(respons){
                        respons.forEach(function(item){
                            var result1 = item.ar.search(vm.searchContent)
                            var result2 = item.sarea.search(vm.searchContent)
                            var result3 = item.sna.search(vm.searchContent)
                            if(result1!=-1 || result2!=-1 || result3!=-1){
                                vm.searchResult.push(item)
                            }
                        })
                        if(vm.searchResult.length==0){
                            vm.cantFound = true
                            vm.mapOpen = false
                        }
                    }
                );
            }
        },
        searchMap(lat,lng) {
            this.mapOpen = true
            this.mapUrl = `https://google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=${lat},${lng}&z=16&t=&output=embed`
            $("html,body").animate({
                scrollTop:$(document).height()-$(window).height()
            },200)
        },
        gotToTop:function(){
            $("html,body").animate({
                scrollTop:0
            },600)
        }
    },
    computed:{
        newUrl:function(){
            return `https://google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=${this.lat},${this.lng}&z=16&t=&output=embed`
        }
    },
    created() {
        $(window).scroll(function(){
            if($(this).scrollTop()>600){
                $("#goTop").fadeIn("300")
            }
            else{
                $("#goTop").fadeOut("300")
            }
        })
    },
})
</script>
</html>